/* Palette Color */
$color-text-1: #1e83ec;
$color-text-2: #55acee;
$color-text-3: #5C5C5C;
$color-error-1: red;
$color-button-1: #55acee;
$color-background-1: #f6f6f6;
$color-background-2: #2C3034;

/* Font-size variable */
$font-size-little: 12px;
$font-size-medium: 16px;
