/* Palette Color */
$color-text-1: #1e83ec;
$color-text-2: #55acee;
$color-text-3: #5C5C5C;
$color-error-1: red;
$color-button-1: #55acee;
$color-button-2: #7bb3ef;
$color-background-1: #f6f6f6;
$color-background-2: #2C3034;

/* Font-size variable */
$font-size-little: 13px;
$font-size-medium: 16px;
$font-size-large: 20px;

/* Z-index */
	/* Control Panel */
	$z-index-panel-1: 6; /* Overlay */
	$z-index-panel-2: 7; /* Form block */
	$z-index-panel-3: 8; /* No important context */
	$z-index-panel-4: 9; /* Main context */
	$z-index-panel-5: 10; /* Important context */
	/* Modal */
	$z-index-modal-1: 11; /* Overlay */
	$z-index-modal-2: 12; /* Form block */
	$z-index-modal-3: 13; /* No important context */
	$z-index-modal-4: 14; /* Main context */
	$z-index-modal-5: 15; /* Important context */
