<as-editor-control-panel></as-editor-control-panel>

<section *ngIf="isInitProject">
	<as-editor-manager-panel></as-editor-manager-panel>
	<svg version="1.1" class="svg-element" width="100%" height="100%"
		[class.moved]="isMove$ | async"	drag-and-drop >
		<svg:defs>
			<svg:pattern id="p-smallGrid" width="20" height="20" x="0" y="0" patternUnits="userSpaceOnUse">
				<svg:path d="M 20 0 L 0 0 0 20" class="smallGrid"/>
			</svg:pattern>
			<svg:pattern id="p-grid" width="100" height="100" x="0" y="0" patternUnits="userSpaceOnUse">
				<svg:rect width="100" height="100" class="grid"	[attr.fill]="'url(' + loc + '#p-smallGrid)'"/>
				<svg:path d="M 100 0 L 0 0 0 100" fill="none" class="grid"/>
			</svg:pattern>
		</svg:defs>

		<svg:g [attr.transform]="workspace.transform()">
			<svg:rect class="grid" x="0" y="0" [attr.fill]="'url(' + loc + '#p-grid)'"
				[attr.width]="workspace.width" [attr.height]="workspace.height"/>
			<svg:rect class="fil0 str0" x="100" y="100" width="50" height="50"/>

			<svg:g as-editor-surface></svg:g>
			<svg:g as-editor-thing></svg:g>
		</svg:g>
	</svg>
</section>
