@import "../shared/scss/global.scss";

.str0 {
	stroke: #A26161;
	stroke-width: 2;
}
.fil0 {
	fill: #F3942F;
}

.svg-element {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#workspace {

}

.smallGrid {
	fill: none;
	stroke: rgba(128, 128, 128, 0.8);
	stroke-width: 1px;
}
.grid {
	stroke: rgba(128, 128, 128, 1);
	stroke-width: 1px;
}

svg:active {
	cursor: move;
}
