/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Editor Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
.svg-element {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; }

.smallGrid {
  fill: none;
  stroke: rgba(128, 128, 128, 0.8);
  stroke-width: 1px; }

.grid {
  stroke: gray;
  stroke-width: 1px; }

svg:active {
  cursor: move; }
