/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Editor Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* HELLO !!!!!!!!!!!!!!!!*/
/* App Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic");
/* CSS Resets */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Base Rules */
html, body {
  height: 100%;
  width: 100%; }

body {
  background: #f6f6f6; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p, label, input {
  font-size: 16px; }

input {
  background: none;
  border: 1px solid #808080; }

input, button, select {
  font-family: 'Open Sans', Helvetica, sans-serif; }

a {
  color: #1e83ec;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus {
    color: #55acee;
    text-decoration: underline; }

select {
  width: 100%;
  padding: 5px;
  padding-left: 15px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #5C5C5C;
  font-size: 15px;
  font-weight: bold;
  transition: border 0.3s; }
  select:hover {
    border-bottom-color: #1e83ec; }

.separator {
  width: 1px;
  height: 31px;
  margin: 0 10px;
  background: rgba(0, 0, 0, 0.18); }

/* Layout Rules */
header, main, footer {
  width: 100%; }

.modal-section {
  position: absolute;
  left: 50%;
  z-index: 17; }

.base-section {
  position: relative;
  width: 100%;
  z-index: 17; }

.base-block {
  box-sizing: border-box;
  height: 100%; }

.page-block {
  width: 960px;
  margin: 0 auto; }

.fullwidth-block {
  width: 100%;
  padding: 0 20px; }

/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Editor Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Variable */
.modal-window {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  z-index: 17;
  /*
	visibility: hidden;
	opacity: 0;
	transform: scale(0.75);
	transition: transform 0.4s ease-out, visibility 0.2s, opacity 0.15s 0.05s;

	&.visible {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
		transition: transform 0.4s ease-out, visibility 0.2s, opacity 0.2s 0.0s;
	}
	*/ }
  .modal-window > section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
    box-sizing: border-box;
    width: 100%; }
    .modal-window > section:last-child {
      margin-bottom: 25px; }

.icon-close {
  position: absolute;
  z-index: 19;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: rgba(31, 45, 61, 0.2); }
  .icon-close:hover {
    color: rgba(31, 45, 61, 0.5); }

.modal-header {
  margin-top: 35px;
  z-index: 17;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #5C5C5C; }
  .modal-header h1 {
    margin-bottom: 10px;
    text-align: center; }
  .modal-header p {
    margin-bottom: 25px;
    font-size: 16px; }

.modal-footer {
  margin: 15px 0 25px 0;
  z-index: 17; }

.modal-body {
  margin-top: 15px;
  z-index: 17;
  padding: 0 30px; }

/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Editor Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
.manager-panel-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%; }
  .manager-panel-block .manager-panel-block-header,
  .manager-panel-block .manager-panel-block-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
  .manager-panel-block .manager-panel-block-header {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 10px 20px;
    background-color: rgba(128, 128, 128, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #5C5C5C;
    font-size: 20px; }
  .manager-panel-block .manager-panel-block-content {
    height: 100%;
    overflow-y: auto; }
  .manager-panel-block .item-panel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 100%;
    height: 100%;
    position: relative; }
    .manager-panel-block .item-panel.noFullHeight {
      height: auto;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .manager-panel-block .form-back {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #5C5C5C;
    font-weight: bold; }
    .manager-panel-block .form-back i {
      margin-right: 5px; }
    .manager-panel-block .form-back:hover {
      background-color: #7bb3ef;
      color: #fff; }
    .manager-panel-block .form-back.lock {
      background-color: rgba(128, 128, 128, 0.1);
      color: #5C5C5C;
      transition: background-color 0.4s, color 0.4s; }

/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Editor Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Variable */
.form-1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  z-index: 17; }
  .form-1 .form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 100%;
    z-index: 17; }
    .form-1 .form-row .form-group {
      padding-right: 20px; }
      .form-1 .form-row .form-group:last-child {
        padding-right: 0; }
  .form-1 .form-column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 100%;
    z-index: 17; }
  .form-1 .ng-invalid.ng-dirty input,
  .form-1 input.ng-invalid.ng-dirty {
    border-color: red;
    color: red; }
    .form-1 .ng-invalid.ng-dirty input + label,
    .form-1 input.ng-invalid.ng-dirty + label {
      color: red; }
  .form-1 .form-group {
    width: 100%;
    margin-bottom: 8px;
    padding-top: 27px;
    position: relative;
    z-index: 17; }
    .form-1 .form-group label {
      display: block;
      padding: 0 7px;
      position: absolute;
      z-index: 18;
      top: 30px;
      cursor: text;
      color: rgba(0, 0, 0, 0.4);
      font-size: 16px;
      transition: color 0.25s, font-size 0.25s, top 0.25s; }
    .form-1 .form-group.focused label {
      top: 0;
      cursor: pointer;
      color: #1e83ec;
      font-size: 13px; }
    .form-1 .form-group input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 6px;
      padding: 0 7px;
      padding-bottom: 5px;
      position: relative;
      z-index: 19;
      background: none;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 16px;
      transition: border 0.3s; }
      .form-1 .form-group input:hover {
        border-bottom-color: #1e83ec; }
      .form-1 .form-group input:focus {
        border-bottom-color: #1e83ec;
        color: #1e83ec; }
      .form-1 .form-group input:focus + label {
        top: 0;
        cursor: pointer;
        color: #1e83ec;
        font-size: 13px; }
    .form-1 .form-group a.form-forgotton {
      display: block;
      position: absolute;
      z-index: 20;
      top: 27px;
      right: 0; }
      .form-1 .form-group a.form-forgotton + input[name="password"] {
        padding-right: 90px; }
  .form-1 button {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 6px;
    padding: 10px 15px;
    z-index: 19;
    background: #55acee;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }
    .form-1 button:not([disabled]):hover, .form-1 button:not([disabled]):focus {
      background: #7bb3ef; }
    .form-1 button[disabled] {
      background: #f6f6f6;
      color: #5C5C5C; }
    .form-1 button:last-child {
      margin-bottom: 0; }
    .form-1 button + .form-error {
      margin-bottom: 6px; }
  .form-1 .form-error {
    margin-top: 6px;
    padding: 0 7px;
    z-index: 19;
    color: red;
    font-size: 13px; }
