/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* App Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic");
/* CSS Resets */
@import url(./reset.css);
/* Base Rules */
html, body {
  height: 100%;
  width: 100%; }

body {
  background: #f6f6f6; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

p, label, input {
  font-size: 16px; }

input {
  background: none;
  border: 1px solid #808080; }

input, button, select {
  font-family: 'Open Sans', Helvetica, sans-serif; }

a {
  color: #1e83ec;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  color: #55acee;
  text-decoration: underline; }

/* Layout Rules */
header, main, footer {
  width: 100%; }

.base-section {
  width: 100%; }

.base-block {
  height: 100%; }

.page-block {
  width: 960px;
  margin: 0 auto; }
