<div class="manager-panel-block manager-material-texture">
	<div class="manager-panel-block-content">

		<form [formGroup]="form" class="form-1 form-texture">
			<div class="form-group" [class.focused]="getFormField('angle')">
				<input type='text' class="form-control"	required
					name="textureAngle" id="textureAngle" formControlName="angle" />
				<label for="textureAngle">Angle</label>
			</div>
			<div class="form-group" [class.focused]="getFormField('scale')">
				<input type='text' class="form-control"	required
					name="textureScale" id="textureScale" formControlName="scale" />
				<label for="textureScale">Scale</label>
			</div>
		</form>

		<form>
			<select name="textureCategory" class="collection-textures-categories"
				[(ngModel)]="activeTextureCategoryId" (change)="onChangeTextureCategory($event)">
	      <option value="" disabled>Choose a category texture</option>
	      <option *ngFor="let textureCategory of textureCategories" [ngValue]="textureCategory._id">
	        {{ textureCategory.name }}
	      </option>
	    </select>
		</form>

		<div class="collection-textures" (click)="onClickSetTexture($event)">
			<div class="item" *ngFor="let item of texturesDisplay" [attr.data-item-id]="item._id">
				<div class="image" [style.background-image]="getSrcTexture(item)"></div>
				<div class="active-item" *ngIf="item._id === activeTextureId">
					<i class="fa fa-check-circle-o" aria-hidden="true"></i>
				</div>
			</div>
		</div>

	</div>
</div>
