<div class="manager-panel-block manager-workstate-surface">
	<div class="manager-panel-block-header">
		<h4>Surface</h4>
	</div>
	<div class="manager-panel-block-content">
		<form [formGroup]="form" class="form-1">
			<div class="form-row">
				<div class="form-group" [class.focused]="getFormField('coordX')">
					<input type='text' class="form-control"	required
						name="coordX" id="coordX" formControlName="coordX" />
					<label for="coordX">Coordinate X</label>
				</div>
				<div class="form-group" [class.focused]="getFormField('coordY')">
					<input type="text" class="form-control" required
						name="coordY" id="coordY" formControlName="coordY" />
					<label for="coordY">Coordinate Y</label>
				</div>
			</div>
		</form>

		<div class="list-textures" (click)="onClickOpenMaterial()" *ngIf="model">
			<div class="item-texture" data-item-type="fill"
				[style.background]="model.fill.toString()"
				[style.background-size]="'cover'">
				<div class="description">
					Fill: {{model.fill.type}}
				</div>
			</div>
			<div class="item-texture" data-item-type="stroke"
				[style.background]="model.stroke.toString()"
				[style.background-size]="'cover'">
				<div class="description">
					Stroke: {{model.stroke.type}}
				</div>
			</div>
		</div>
	</div>
</div>
