/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Editor Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
.manager-section {
  z-index: 7; }
  .manager-section .manager-component {
    position: absolute;
    z-index: 7;
    top: 112px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    border-right: 1px solid rgba(0, 0, 0, 0.12); }
  .manager-section .manager-panel {
    width: 272px;
    left: 56px; }
    .manager-section .manager-panel .manager-panel-block {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative; }
    .manager-section .manager-panel .item-panel {
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      left: 0; }
  .manager-section .manager-navigation {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start; }
    .manager-section .manager-navigation .item-navigation {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      width: 55px;
      height: 55px;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
      cursor: pointer;
      color: #5C5C5C;
      font-size: 2em; }
      .manager-section .manager-navigation .item-navigation:hover, .manager-section .manager-navigation .item-navigation:focus, .manager-section .manager-navigation .item-navigation.active {
        background: #55acee;
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
        color: #fff; }
