/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Variable */
header::before {
  content: "";
  display: block;
  width: 100%;
  height: 55px; }

.control-section {
  height: 55px;
  position: fixed;
  top: 56px;
  left: 0px;
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  .control-section .base-block {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .control-section .left-block, .control-section .right-block {
    height: 100%;
    display: flex;
    align-items: center; }
  .control-section a {
    height: 100%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    color: #5C5C5C;
    text-decoration: none; }
    .control-section a:hover, .control-section a:focus {
      color: #1e83ec;
      text-decoration: none; }
    .control-section a .description {
      margin-left: 7px;
      font-size: 15px;
      font-weight: bold; }
  .control-section .switch {
    height: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); }
    .control-section .switch .switch-label {
      width: 50px;
      height: 100%;
      display: flex;
      z-index: 9;
      align-items: center;
      justify-content: center;
      color: rgba(0, 0, 0, 0.95);
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      transition: none; }
    .control-section .switch .switch-selection {
      width: 50px;
      display: block;
      z-index: 8;
      position: absolute;
      top: 3px;
      bottom: 3px;
      left: 3px;
      border-radius: 3px;
      background: #55acee;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
      transition: left 0.15s ease-out; }
    .control-section .switch .switch-input {
      display: none; }
      .control-section .switch .switch-input:checked + .switch-label {
        color: rgba(255, 255, 255, 0.8);
        transition: color 0.30s ease-out 0.10s; }
      .control-section .switch .switch-input:nth-of-type(1):checked ~ .switch-selection {
        left: 3px; }
      .control-section .switch .switch-input:nth-of-type(2):checked ~ .switch-selection {
        left: 53px; }
      .control-section .switch .switch-input:nth-of-type(3):checked ~ .switch-selection {
        left: 103px; }
