<header>
	<section class="base-section control-section">
		<div class="base-block page-block">
			<div class="left-block">
				<a (click)="openModalInitWorkspace()">
					<i class="fa fa-file-text" aria-hidden="true"></i>
					<span class="description">New</span>
				</a>
				<a>
					<i class="fa fa-cloud" aria-hidden="true"></i>
					<span class="description">Save</span>
				</a>
				<div class="separator"></div>
				<form #f="ngForm" (change)="formChange(f, $event)" class="switch">
					<input type="radio" class="switch-input" name="measure" value="cm" id="cm" [(ngModel)]="curMeasure">
					<label for="cm" class="switch-label">cm</label>
					<input type="radio" class="switch-input" name="measure" value="m" id="m" [(ngModel)]="curMeasure">
					<label for="m" class="switch-label">m</label>
					<input type="radio" class="switch-input" name="measure" value="px" id="px" [(ngModel)]="curMeasure">
					<label for="px" class="switch-label">px</label>
					<span class="switch-selection"></span>
				</form>
			</div>
			<div class="right-block">

			</div>
		</div>
	</section>
</header>
