@import "../../shared/scss/global.scss";

/* Variable */
$control-section-height: 55px;
$switch-amount: 3;
$switch-inner-padding: 3px;
$switch-width: 50px;

header::before {
	display: block;
	content: "";

	width: 100%;
	height: $control-section-height;
}

.control-section {
	height: $control-section-height;

	position: fixed;
	z-index: $z-index-panel-block;
	top: $control-section-height + 1;
	left: 0px;

	background-color: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);

	.base-block {
		display: flex;
		justify-content: space-between;
		align-items: center;

		z-index: $z-index-panel-block;
	}
	.left-block, .right-block {
		display: flex;
		align-items: center;

		z-index: $z-index-panel-block;

		height: 100%;
	}
	a {
		display: flex;
		align-items: center;

		z-index: $z-index-panel-c2;

		height: 100%;
		margin: 0 10px;

		color: $color-text-3;
		text-decoration: none;

		&:hover, &:focus {
			color: $color-text-1;
			text-decoration: none;
		}

		.description {
			margin-left: 7px;

			font-size: 15px;
			font-weight: bold;
		}
	}
	.switch {
		display: flex;
		align-items: center;

		box-sizing: border-box;
		height: 32px;
		padding: 0 $switch-inner-padding;

		position: relative;
		z-index: $z-index-panel-block;

		background: rgba(0, 0, 0, 0.05);
		border-radius: 3px;
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);

		.switch-label {
			display: flex;
			justify-content: center;
			align-items: center;

			width: $switch-width;
			height: 100%;

			z-index: $z-index-panel-c2;


			cursor: pointer;
			color: rgba(0, 0, 0, 0.95);
			font-size: 15px;
			font-weight: bold;

			transition: none;
		}
		.switch-selection {
			display: block;

			width: $switch-width;

			position: absolute;
			z-index: $z-index-panel-c1;
			top: $switch-inner-padding;
			bottom: $switch-inner-padding;
			left: $switch-inner-padding;

			background: $color-text-2;
			border-radius: 3px;
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);

			transition: left 0.15s ease-out;
		}
		.switch-input {
			display: none;
			&:checked + .switch-label {
				color: rgba(255, 255, 255, 0.8);

				transition: color 0.30s ease-out 0.10s;
			}
			@for $i from 1 through $switch-amount {
				$left: $switch-inner-padding + ($i - 1) * $switch-width;

				&:nth-of-type(#{$i}):checked ~ .switch-selection {
					left: $left;
				}
			}
		}
	}
}
