@import "../../shared/scss/global.scss";

/* Variable */
$height-navigation-section: 55px;

header::before {
	content: "";
	display: block;
	width: 100%;
	height: $height-navigation-section;
}
.navigation-section {
	height: $height-navigation-section;

	position: fixed;
	top: $height-navigation-section + 1;
	left: 0px;
	z-index: $z-index-panel-1;

	background-color: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);

	.base-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.left-block, .right-block {
		height: 100%;
		display: flex;
		align-items: center;
	}
	a {
		height: 100%;
		margin: 0 10px;

		display: flex;
		align-items: center;

		color: $color-text-3;
		text-decoration: none;

		&:hover, &:focus {
			color: $color-text-1;
			text-decoration: none;
		}

		.description {
			margin-left: 7px;
		}
	}

}
