/* Palette Color */
/* Font-size variable */
/* Variable */
header::before {
  content: "";
  display: block;
  width: 100%;
  height: 55px; }

.navigation-section {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.22); }
  .navigation-section > div {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navigation-section a.logo img {
    height: 40px; }
  .navigation-section nav {
    display: flex; }
    .navigation-section nav a {
      position: relative;
      color: #888;
      text-decoration: none;
      margin: 0 12px; }
      .navigation-section nav a:after {
        content: "";
        display: block;
        height: 2px;
        width: 0%;
        position: absolute;
        bottom: -5px;
        left: 50%;
        background-color: #1e83ec;
        transition: width 0.3s, left 0.3s; }
      .navigation-section nav a:hover, .navigation-section nav a:focus, .navigation-section nav a.active {
        color: #1e83ec; }
      .navigation-section nav a:hover:after, .navigation-section nav a:focus:after, .navigation-section nav a.active:after {
        width: 100%;
        left: 0%; }
