<header>
	<section class="navigation-section">
		<div class="l-baseColumn">
			<a routerLink="/home" class="logo">
				<img src="app/shared/images/logo.png" />
			</a>
			<nav>
				<a routerLink="/home" routerLinkActive="active">Home</a>
				<div *ngIf="!loggedIn()">
					<a routerLink="/signup" routerLinkActive="active">Sign up</a>
					<a (click)="login()">Login</a>
				</div>
				<div *ngIf="loggedIn()">
					<a routerLink="/login" (click)="logout()">Logout</a>
				</div>
			</nav>
		</div>
	</section>
</header>
<h1>Hello {{userService.getUserName()}}! Is the {{title}} page.</h1>
<router-outlet></router-outlet>

<!-- Modal -->
<div class="modal-overlay" *ngIf="modalOpen | async" (click)="closeAllModal()"></div>
<div class="modal">
	<as-login *ngIf="modalLogin | async"></as-login>
</div>
