@import "./shared/scss/global.scss";

/* Variable */
$height-navigation-section: 55px;

header::before {
	display: block;
	content: "";

	width: 100%;
	height: $height-navigation-section;
}

.modal-section {
	top: 230px;
}

.navigation-section {
	height: $height-navigation-section;

	position: fixed;
	z-index: $z-index-panel-block;
	top: 0px;
	left: 0px;

	background-color: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);

	.base-block {
		display: flex;
		justify-content: space-between;
		align-items: center;

		z-index: $z-index-panel-block;
	}
	a.main-logo {
		display: flex;
		align-items: center;

		height: 100%;

		z-index: $z-index-panel-c2;

		img {
			height: 40px;
		}
	}
	nav {
		display: flex;
		align-items: center;

		height: 100%;

		z-index: $z-index-panel-block;

		.nav-group {
			display: flex;
			align-items: center;

			height: 100%;
		}

		a {
			display: flex;
			align-items: center;

			height: 100%;
			margin: 0 10px;

			z-index: $z-index-panel-c2;

			color: rgba(0,0,0,0.45);
			font-size: 15px;
			font-weight: bold;
			text-decoration: none;

			&:last-child {
				margin-right: 0;
			}

			&:hover, &:focus, &.active {
				color: $color-text-1;
			}

			span {
				position: relative;

				&:after {
					display: block;
					content: "";

					width: 0%;
					height: 2px;

					position: absolute;
					bottom: -5px;
					left: 50%;

					background-color: $color-text-1;

					transition: width 0.3s, left 0.3s;
				}
			}
			&:hover span:after, &:focus span:after, &.active span:after {
				width: 100%;

				left: 0%;
			}
		}
	}
}

.overlay {
	visibility: hidden;

	width: 100%;
	height: 100%;

	position: absolute;
	z-index: $z-index-panel-overlay;
	top: 0;
	left: 0;

	opacity: 0;
	background: #f6f6f6;

	transition: opacity 0.4s ease-out, visibility 0.4s;

	&.visible {
		visibility: visible;

		opacity: 1;
	}
}

.panel-overlay {
	z-index: $z-index-panel-overlay;

	background: #f6f6f6;
}

.modal-overlay {
	z-index: $z-index-modal-overlay;

	background: rgba(31, 45, 61, 0.9);
}
