.navigation-section {
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.22);

	& > div {
		height: 55px;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	a.logo img {
		height: 40px;
	}
	nav {
		display: flex;

		a {
			position: relative;

			color: #888;
			text-decoration: none;

			margin: 0 12px;

			&:after {
				content: "";
				display: block;
				height: 2px;
				width: 0%;

				position: absolute;
				bottom: -5px;
				left: 50%;

				background-color: #1e83ec;

				transition: width 0.3s, left 0.3s;
			}
			&:hover, &:focus, &.active {
				color: #1e83ec;
			}
			&:hover:after, &:focus:after, &.active:after {
				width: 100%;
				left: 0%;
			}
		}
	}
}
