<header>
	<section class="base-section navigation-section">
		<div class="base-block page-block">
			<a routerLink="/home" class="main-logo">
				<img src="app/shared/images/logo.png" />
			</a>
			<nav>
				<a routerLink="/home" routerLinkActive="active"><span>Home</span></a>
				<div *ngIf="!loggedIn()" class="nav-group">
					<a (click)="signup()"><span>Sign up</span></a>
					<a (click)="login()"><span>Login</span></a>
				</div>
				<div *ngIf="loggedIn()" class="nav-group">
					<a routerLink="/editor" routerLinkActive="active"><span>Editor</span></a>
					<div class="separator"></div>
					<a routerLink="/profile" routerLinkActive="active"><span>Profile</span></a>
					<a (click)="logout()"><span>Logout</span></a>
				</div>
			</nav>
		</div>
	</section>
</header>
<!--
<h1>Hello {{userService.getUserName()}}! Is the {{title}} page.</h1>
-->
<router-outlet></router-outlet>

<!-- Modal -->
<div class="modal-overlay" [class.visible]="modalOpen | async" (click)="closeAllModal()"></div>
<div *ngIf="!loggedIn()">
	<as-login></as-login>
	<as-signup></as-signup>
	<as-reset></as-reset>
</div>
