/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Variable */
header::before {
  content: "";
  display: block;
  width: 100%;
  height: 55px; }

.navigation-section {
  height: 55px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  .navigation-section .base-block {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navigation-section a.main-logo {
    height: 100%;
    display: flex;
    align-items: center; }
    .navigation-section a.main-logo img {
      height: 40px; }
  .navigation-section nav {
    height: 100%;
    display: flex;
    align-items: center; }
    .navigation-section nav .nav-group {
      height: 100%;
      display: flex;
      align-items: center; }
    .navigation-section nav a {
      height: 100%;
      margin: 0 10px;
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.45);
      text-decoration: none; }
      .navigation-section nav a:hover, .navigation-section nav a:focus, .navigation-section nav a.active {
        color: #1e83ec; }
      .navigation-section nav a span {
        position: relative; }
        .navigation-section nav a span:after {
          content: "";
          display: block;
          height: 2px;
          width: 0%;
          position: absolute;
          bottom: -5px;
          left: 50%;
          background-color: #1e83ec;
          transition: width 0.3s, left 0.3s; }
      .navigation-section nav a:hover span:after, .navigation-section nav a:focus span:after, .navigation-section nav a.active span:after {
        width: 100%;
        left: 0%; }

.modal-overlay {
  width: 100%;
  height: 100%;
  background: rgba(31, 45, 61, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out, visibility 0.4s; }

.modal-overlay.visible {
  visibility: visible;
  opacity: 1; }
