/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Editor Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Variable */
.form-1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  z-index: 17; }
  .form-1 .form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 100%;
    z-index: 17; }
    .form-1 .form-row .form-group {
      padding-right: 20px; }
      .form-1 .form-row .form-group:last-child {
        padding-right: 0; }
  .form-1 .form-column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 100%;
    z-index: 17; }
  .form-1 .form-group {
    width: 100%;
    margin-bottom: 8px;
    padding-top: 27px;
    position: relative;
    z-index: 17; }
    .form-1 .form-group label {
      display: block;
      padding-right: 7px;
      padding-left: 7px;
      position: absolute;
      z-index: 18;
      top: 27px;
      cursor: text;
      color: rgba(0, 0, 0, 0.4);
      font-size: 16px;
      transition: color 0.25s, font-size 0.25s, top 0.25s; }
    .form-1 .form-group.focused label {
      top: 0;
      cursor: pointer;
      color: #1e83ec;
      font-size: 13px; }
    .form-1 .form-group input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 6px;
      padding-right: 7px;
      padding-bottom: 5px;
      padding-left: 7px;
      position: relative;
      z-index: 19;
      background: none;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 16px;
      transition: border 0.3s; }
      .form-1 .form-group input:focus {
        border-bottom: 1px solid #1e83ec;
        color: #1e83ec; }
      .form-1 .form-group input:focus + label {
        top: 0;
        cursor: pointer;
        color: #1e83ec;
        font-size: 13px; }
      .form-1 .form-group input.ng-invalid.ng-dirty {
        border-color: red; }
    .form-1 .form-group a.form-forgotton {
      display: block;
      position: absolute;
      z-index: 20;
      top: 27px;
      right: 0; }
      .form-1 .form-group a.form-forgotton + input[name="password"] {
        padding-right: 90px; }
  .form-1 button {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 6px;
    padding: 10px 15px;
    z-index: 19;
    background: #55acee;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }
    .form-1 button:not([disabled]):hover, .form-1 button:not([disabled]):focus {
      background: #7bb3ef; }
    .form-1 button[disabled] {
      background: #f6f6f6;
      color: #5C5C5C; }
    .form-1 button:last-child {
      margin-bottom: 0; }
    .form-1 button + .form-error {
      margin-bottom: 6px; }
  .form-1 .form-error {
    margin-top: 6px;
    padding: 0 7px;
    z-index: 19;
    color: red;
    font-size: 13px; }
