/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Editor Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Variable */
.modal-window {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  z-index: 17;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.75);
  transition: transform 0.4s ease-out, visibility 0.2s, opacity 0.15s 0.05s; }
  .modal-window.visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.4s ease-out, visibility 0.2s, opacity 0.2s 0.0s; }
  .modal-window > section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
    box-sizing: border-box;
    width: 100%; }
    .modal-window > section:last-child {
      margin-bottom: 25px; }

.icon-close {
  position: absolute;
  z-index: 19;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: rgba(31, 45, 61, 0.2); }
  .icon-close:hover {
    color: rgba(31, 45, 61, 0.5); }

.modal-header {
  margin-top: 35px;
  z-index: 17;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #5C5C5C; }
  .modal-header h1 {
    margin-bottom: 10px;
    text-align: center; }
  .modal-header p {
    margin-bottom: 25px;
    font-size: 16px; }

.modal-footer {
  margin: 15px 0 25px 0;
  z-index: 17; }

.modal-body {
  margin-top: 15px;
  z-index: 17;
  padding: 0 30px; }
