/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Editor Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
.workstate-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%; }
  .workstate-block .workstate-header,
  .workstate-block .workstate-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    box-sizing: border-box;
    width: 100%; }
  .workstate-block .workstate-header {
    padding: 10px 20px;
    background-color: rgba(128, 128, 128, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #5C5C5C;
    font-size: 20px; }
  .workstate-block .workstate-content {
    height: 100%; }
  .workstate-block .form-back {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #5C5C5C;
    font-weight: bold; }
    .workstate-block .form-back i {
      margin-right: 5px; }
    .workstate-block .form-back:hover {
      background-color: #7bb3ef;
      color: #fff; }
    .workstate-block .form-back.lock {
      background-color: rgba(128, 128, 128, 0.1);
      color: #5C5C5C;
      transition: background-color 0.4s, color 0.4s; }
