@import "../../app/shared/scss/global.scss";

.workstate-block {
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	width: 100%;
	height: 100%;

	.workstate-header,
	.workstate-content {
		display: flex;
		flex-direction: column;

		box-sizing: border-box;
		width: 100%;
	}
	.workstate-header {
		padding: 10px 20px;

		background-color: rgba(128, 128, 128, 0.1);
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		color: $color-text-3;
		font-size: 20px;
	}
	.workstate-content {
		height: 100%;
	}
}
