<main>

<section class="base-section profile-section">
	<div class="base-block page-block">
		<section class="block-user block-user-info">
			<div class="avatar">
				<img class="avatar-img" src="assets/imgs/avatars/default.png" />
				<div class="avatar-description">
					<h1 class="nickname">Geass</h1>
					<h4 class="full-name">Andrey Shuleyko</h4>
				</div>
			</div>
			<div class="info">
        <div class="info-item">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
          <p>Sign up: Web May 19 2017</p>
        </div>
        <div class="info-item">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <p>geass1000@gmail.com</p>
        </div>
      </div>
		</section>
		<section class="block-user block-user-projects">
      <h4 class="block-header">User Projects</h4>
      <div class="projects">
        <div class="project-item">
          <div class="project-info">
            <div class="major">
              <p class="project-name">Project 1</p>
              <p class="project-id">1eh4hf5b42hfer5423ropne</p>
            </div>
            <div class="minor">
              <p class="project-load">Click to load...</p>
            </div>
          </div>
          <div class="project-separator"></div>
        </div>
      </div>
		</section>
	</div>
</section>

</main>
