<main>

<section class="base-section profile-section">
	<div class="base-block page-block" *ngIf="profile">
		<section class="block-user block-user-info">
			<div class="avatar">
				<img class="avatar-img" [attr.src]="profile.user.avatar" />
				<div class="avatar-description">
					<h1 class="nickname">{{profile.user.nickname}}</h1>
					<h4 class="full-name">{{profile.user.firstname}} {{profile.user.lastname}}</h4>
				</div>
			</div>
			<div class="info">
        <div class="info-item">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
          <p>Sign up: {{getDate(profile.user.created_at)}}</p>
        </div>
        <div class="info-item">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <a [attr.href]="createHrefUserEmail(profile.user.email)">{{profile.user.email}}</a>
        </div>
      </div>
		</section>
		<section class="block-user block-user-projects">
      <h4 class="block-header">User Projects</h4>
      <div class="projects" (click)="onClickOpenProject($event)">
        <div class="project-item" *ngFor="let item of profile.projects"
					[attr.data-item-id]="item._id">
          <div class="project-info">
            <div class="major">
              <p class="project-name">{{item.name}}</p>
              <p class="project-id">{{item._id}}</p>
            </div>
            <div class="minor">
              <p class="project-load">Click to load...</p>
            </div>
          </div>
          <div class="project-separator"></div>
        </div>
      </div>
		</section>
	</div>
</section>

</main>
