/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Editor Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
.page-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-top: 35px; }
  .page-block .block-user {
    position: relative;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid rgba(0, 0, 0, 0.12); }
  .page-block .block-user-info {
    width: 330px;
    margin-right: 35px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    .page-block .block-user-info .avatar {
      width: 330px;
      height: 330px;
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
      .page-block .block-user-info .avatar .avatar-img {
        width: 100%;
        height: 100%; }
      .page-block .block-user-info .avatar .avatar-description {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        width: 100%;
        padding: 12px 0;
        position: absolute;
        bottom: 20px;
        left: 0;
        background-color: rgba(255, 255, 255, 0.93);
        color: #2b2b2b; }
        .page-block .block-user-info .avatar .avatar-description .nickname {
          text-decoration: underline; }
        .page-block .block-user-info .avatar .avatar-description .nickname + .full-name {
          margin-top: 8px;
          font-weight: normal; }
    .page-block .block-user-info .info {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: start;
          justify-content: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
      margin: 20px 30px; }
      .page-block .block-user-info .info .info-item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: start;
            justify-content: flex-start;
        -ms-flex-align: center;
            align-items: center;
        width: 100%;
        margin-bottom: 10px; }
        .page-block .block-user-info .info .info-item:last-child {
          margin-bottom: 0; }
        .page-block .block-user-info .info .info-item i {
          margin-right: 8px;
          font-size: 16px; }
        .page-block .block-user-info .info .info-item p {
          line-height: initial;
          font-size: 16px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
  .page-block .block-user-projects {
    box-sizing: border-box;
    width: 100%;
    padding: 30px 0; }
    .page-block .block-user-projects .block-header {
      padding-bottom: 10px;
      margin: 0 30px;
      margin-bottom: 5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      font-weight: normal; }
    .page-block .block-user-projects .projects .project-item {
      padding: 0 30px; }
      .page-block .block-user-projects .projects .project-item .project-info {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-align: center;
            align-items: center;
        padding: 15px 0; }
        .page-block .block-user-projects .projects .project-item .project-info .project-name {
          font-size: 16px;
          font-weight: bold;
          padding-bottom: 4px; }
        .page-block .block-user-projects .projects .project-item .project-info .project-id {
          font-size: 13px;
          color: rgba(0, 0, 0, 0.8); }
        .page-block .block-user-projects .projects .project-item .project-info .project-load {
          font-size: 16px;
          font-weight: bold;
          padding-right: 5px; }
      .page-block .block-user-projects .projects .project-item .project-separator {
        width: 70%;
        margin: 0 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
      .page-block .block-user-projects .projects .project-item:hover {
        background: #c6efff;
        cursor: pointer; }
