<section *ngIf="initWorkspace$ | async" class="base-section">
	<div class="base-block initWorkspace">
		<div class="initWorkspaceContent">
			<h1 class="form-header">Размеры участка</h1>
			<div class="form-content">
				<div class="form-group flex-column">
					<label>Ширина</label>
					<input type="text" [(ngModel)]="workspace.width" />
				</div>
				<div class="form-group flex-column">
					<label>Высота</label>
					<input type="text" [(ngModel)]="workspace.height" />
				</div>
			</div>
			<div class="form-texture">
				<as-editor-radio-texture [width]="415" [type]="'workspace'" (onChanged)="workspace.texture = $event"></as-editor-radio-texture>
			</div>

			<div class="flex-row">
				<button (click)="onInitWorkspace()">Создать</button>
				<button (click)="onOpenWorkspace()">Открыть</button>
			</div>
		</div>
	</div>

</section>
