<section *ngIf="initWorkspace$ | async" class="base-section">
	<div class="modal-window modal-reset">
		<i class="fa fa-times icon-close" aria-hidden="true"></i>
		<section class="modal-header">
			<h1>Project</h1>
			<p>Create your project here.</p>
		</section>
		<section class="modal-body" *ngIf="workspace">
			<form>
				<div class="form-group" [class.focused]="workspace.width">
					<input type="text" class="form-control"
						required name="projectName" id="project-name" />
					<label>Project Name</label>
				</div>
				<div class="form-row">
					<div class="form-group" [class.focused]="workspace.width">
						<input type="text" class="form-control"
							required name="width" id="width" [(ngModel)]="workspace.width" />
						<label>Width</label>
					</div>

					<div class="form-group" [class.focused]="workspace.height">
						<input type="text" class="form-control"
							required name="height" id="height" [(ngModel)]="workspace.height" />
						<label>Height</label>
					</div>
				</div>

				<button type="button" (click)="onInitWorkspace()">Create</button>
				<button type="button" (click)="onOpenWorkspace()">Open</button>
			</form>
		</section>
	</div>
</section>
