.floor {
  fill: orange;
  stroke: #969696; }

.selectable {
  display: none; }

.selected .selectable {
  display: block;
  fill: rgba(30, 131, 236, 0.2);
  cursor: pointer; }

.selected polygon {
  stroke: #1e83ec; }

.selected .selectable circle:hover {
  fill: rgba(30, 131, 236, 0.5); }
