.floor {
  fill: orange;
  stroke: #969696;
  stroke-width: 20px; }

.selectable {
  fill: rgba(30, 131, 236, 0); }

.selected .selectable {
  fill: rgba(30, 131, 236, 0.2);
  cursor: pointer; }

.selected .selectable circle:hover {
  fill: rgba(30, 131, 236, 0.5); }
