.floor {
	fill : orange;

	stroke : rgba(150, 150, 150, 1);
}

.selectable {
	fill : rgba(30,131,236,0);
}
.selected .selectable {
	fill : rgba(30,131,236,0.2);
	cursor: pointer;
}
.selected polygon {
	stroke : rgba(30,131,236,1);
}
.selected .selectable circle:hover {
	fill : rgba(30,131,236,0.5);
}
