<div class="workstate-block workstate-workspace">
	<div class="workstate-header">
		<h4>Workspace</h4>
	</div>
	<div class="workstate-content">
		<form [formGroup]="form" class="form-1">
			<div class="form-group" [class.focused]="getFormField('width')">
				<input type='text' class="form-control"	required
					name="workspaceWidth" id="workspaceWidth" formControlName="width" />
				<label for="workspaceWidth">Width</label>
			</div>
			<div class="form-group" [class.focused]="getFormField('height')">
				<input type="text" class="form-control" required
					name="workspaceHeight" id="workspaceHeight" formControlName="height" />
				<label for="workspaceHeight">Height</label>
			</div>
			<button type="button" (click)="onClickOpenTexture()">Texture</button>
		</form>
	</div>
</div>
