<div class="manager-panel-block manager-workstate-workspace">
	<div class="manager-panel-block-header">
		<h4>Workspace</h4>
	</div>
	<div class="manager-panel-block-content">
		<form [formGroup]="form" class="form-1">
			<div class="form-group" [class.focused]="getFormField('width')">
				<input type='text' class="form-control"	required
					name="workspaceWidth" id="workspaceWidth" formControlName="width" />
				<label for="workspaceWidth">Width</label>
			</div>
			<div class="form-group" [class.focused]="getFormField('height')">
				<input type="text" class="form-control" required
					name="workspaceHeight" id="workspaceHeight" formControlName="height" />
				<label for="workspaceHeight">Height</label>
			</div>
		</form>

		<div class="list-textures" (click)="onClickOpenMaterial()">
			<div class="item-texture"
				[style.background]="this.model.material.toString()"
				[style.background-size]="'cover'">
				<div class="description">
					Ground: {{this.model.material.type}}
				</div>
			</div>
		</div>
	</div>
</div>
