<section class="manager-section">
	<div class="manager-component manager-panel"
		[@togglePanel]="aPanelState"
		(@togglePanel.start)="aTogglePanelStarted($event)"
    (@togglePanel.done)="aTogglePanelDone($event)">
		<div class="manager-panel-block">
			<div class="item-panel" *ngIf="workshop" [@flyInOut]="aItemPanelState">
				<h1>Panel 1</h1>
			</div>
			<div class="item-panel" *ngIf="workstate" [@flyInOut]="aItemPanelState">
				<as-editor-manager-workstate></as-editor-manager-workstate>
			</div>
		</div>
	</div>

	<div class="manager-component manager-navigation" (click)="openPanel($event)">
		<div class="item-navigation" [class.active]="workshop" data-panel-name="workshop">
			<i class="fa fa-home" aria-hidden="true"></i>
		</div>
		<div class="item-navigation" [class.active]="workstate" data-panel-name="workstate">
			<i class="fa fa-sliders" aria-hidden="true"></i>
		</div>
	</div>
</section>
