<div class="modal-window modal-init-project" [class.visible]="modalOpen | async">
	<i class="fa fa-times icon-close" aria-hidden="true" (click)="closeModal()"></i>
	<section class="modal-header">
		<h1>Project</h1>
		<p>Create your project here.</p>
	</section>
	<section class="modal-body">
		<form #f="ngForm">
			<div class="form-group" [class.focused]="projectName">
				<input type="text" class="form-control"	required
					name="projectName" id="projectName" [(ngModel)]="projectName"
					pattern=".+" />
				<label>Project Name</label>
			</div>
			<div class="form-row">
				<div class="form-group" [class.focused]="workspace.width">
					<input type="number" class="form-control" required
						name="workspaceWidth" id="workspaceWidth" [(ngModel)]="workspace.width"
						pattern="[0-9]+(\.[0-9]*)?" />
					<label>Width</label>
				</div>

				<div class="form-group" [class.focused]="workspace.height">
					<input type="number" class="form-control" required
						name="workspaceHeight" id="workspaceHeight" [(ngModel)]="workspace.height"
						pattern="[0-9]+(\.[0-9]*)?" />
					<label>Height</label>
				</div>
			</div>

			<button type="button" (click)="onInitProject()" [disabled]="!f.valid">Create</button>
			<button type="button" (click)="onOpenWorkspace()">Open</button>
		</form>
	</section>
</div>
