/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Editor Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
.modal-window {
  width: 350px;
  margin: 0 -175px;
  position: absolute;
  z-index: 17;
  top: 55px;
  left: 50%;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15); }
