<div class="modal-window modal-init-project">
	<i class="fa fa-times icon-close" aria-hidden="true" (click)="onClickCloseModal()"></i>
	<section class="modal-header">
		<h1>Project</h1>
		<p>Create your project here.</p>
	</section>
	<section class="modal-body">
		<form #f="ngForm" class="form-1">
			<div class="form-group" [class.focused]="model.name">
				<input type="text" class="form-control"	required
					name="projectName" id="projectName" [(ngModel)]="model.name"
					pattern=".+" />
				<label>Project Name</label>
			</div>
			<div class="form-row">
				<div class="form-group" [class.focused]="model.width">
					<input type="text" class="form-control" required
						name="workspaceWidth" id="workspaceWidth" [(ngModel)]="model.width"
						pattern="[0-9]+(\.[0-9]*)?" />
					<label>Width</label>
				</div>

				<div class="form-group" [class.focused]="model.height">
					<input type="text" class="form-control" required
						name="workspaceHeight" id="workspaceHeight" [(ngModel)]="model.height"
						pattern="[0-9]+(\.[0-9]*)?" />
					<label>Height</label>
				</div>
			</div>

			<button type="button" (click)="onClickCreateProject()" [disabled]="!f.valid">Create</button>
			<button type="button" (click)="onClickOpenWorkspace()">Open</button>
		</form>
	</section>
</div>
