@import "../shared/scss/global.scss";

$margin-bottom: 12px;

.login-section {
	& > div {
		background-color: rgba(255, 255, 255, 0.95);
		box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
		border-radius: 3px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.logo {
		display: flex;
		justify-content: center;;
		align-items: center;
		width: 100%;
		height: 120px;

		background: $c4;

		img {
			height: 60px;
		}
	}
	h1 {
		color: $c2;
		font-size: 20px;
		text-align: center;

		margin: 20px 0;
	}
	form {
		box-sizing: border-box;
		display: block;
		width: 100%;

		padding: 0 30px;
		padding-bottom: 30px;

		.form-group {
			margin-bottom: 10px;

			label {
				display: block;

				color: rgba(0, 0, 0, 0.4);
				font-size: 16px;

				margin-bottom: $margin-bottom;

				cursor: text;

				transform: translate3d(0, 30px, 0) scale(1);
				transform-origin: left top;
				transition: 0.25s;
			}

			&.focused label {
				color: $c1;

				transform: scale(0.75);
			}

			input {
				box-sizing: border-box;
				display: block;
				width: 100%;

				border: none;
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);

				font-size: 16px;

				padding-bottom: 5px;

				transition: border 0.3s;

				&:focus {
					border-bottom: 1px solid $c1;

					color: $c1;
				}
			}
		}

		button {
			background: #fff;

			border: 2px solid #E2E2E2;
			border-radius: 4px;

			color: $c2;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;

			margin-top: 12px;
			padding: 8px 35px;

			cursor: pointer;

			&:not([disabled]):hover,
			&:not([disabled]):focus {
				background: #55acee;
				color: #fff;
			}
			&[disabled] {
				background: #f6f6f6;
			}
		}
	}
}
