<div class="modal-window modal-login" [class.visible]="modalOpen | async">
	<i class="fa fa-times icon-close" aria-hidden="true" (click)="closeModal()"></i>
	<section class="modal-header">
		<h1>Login</h1>
		<p>Login into your account here.</p>
	</section>
	<section class="modal-body">
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<div class="form-group"
				[class.focused]="loginForm.get('name').value || focusInput.name">
				<label for="name">Login or e-mail</label>
				<input type="text" class="form-control" required
					formControlName="name" name="name" id="name"
					(focus)="onInputFocus($event)" (blur)="onInputBlur()" />
			</div>

			<div class="form-group"
				[class.focused]="loginForm.get('password').value || focusInput.password">
				<label for="password">Password</label>
				<a class="form-forgotton" (click)="resetPassword()">Forgotton?</a>
				<input type="password" class="form-control" required
					formControlName="password" name="password" id="password"
					(focus)="onInputFocus($event)" (blur)="onInputBlur()" />
			</div>

			<button type="submit" [disabled]="!loginForm.valid">Login</button>

			<div *ngIf="serverError" class="form-error">
				{{serverError}}
			</div>
		</form>
	</section>
	<section class="modal-footer">
		<div>Not registered? <a (click)="signup()">Sign up</a></div>
	</section>
</div>
