<h1>Hello! Is the {{title}} page.</h1>
<form [formGroup]="signupForm">
	<div class="form-group">
		<label>Login:</label>
		<input type="text" id="name" class="form-control" required
			formControlName="login" />

		<div *ngIf="formError.login" class="form-error">
			{{formError.login}}
		</div>
	</div>

	<div class="form-group">
		<label>E-mail:</label>
		<input type="email" id="email" class="form-control" required
			formControlName="email" />

		<div *ngIf="formError.email" class="form-error">
			{{formError.email}}
		</div>
	</div>

	<div class="form-group" formGroupName="passwords">
		<label>Password:</label>
		<input type="text" id="password" class="form-control" required
			formControlName="password" />

		<div *ngIf="formError.password" class="form-error">
			{{formError.password}}
		</div>

		<label>Confirm password:</label>
		<input type="text" id="passwordConfirm" class="form-control" required
			formControlName="passwordConfirm" />

		<div *ngIf="formError.passwordConfirm" class="form-error">
			{{formError.passwordConfirm}}
		</div>
		<div *ngIf="formError.passwords" class="form-error">
			{{formError.passwords}}
		</div>
	</div>

	<button type="submit" [disabled]="!signupForm.valid">Submit</button>
</form>
