<h1>Hello! Is the {{title}} page.</h1>
<form [formGroup]="signupForm">
	<div class="form-group">
		<label>Login:</label>
		<input type="text" id="name" class="form-control" required
			formControlName="login" />
		<div *ngIf="formError.login" class="form-error">
			{{formError.login}}
		</div>
	</div>
	<div class="form-group">
		<label>E-mail:</label>
		<input type="text" id="email" class="form-control" required
			formControlName="email" />
	</div>
	<div class="form-group">
		<label>Password:</label>
		<input type="text" id="password" class="form-control" required
			formControlName="password" />
	</div>
</form>
