<section class="workstate">
	<div class="form-item" *ngIf="false">
		<h1 class="form-header">Рабочая область</h1>
		<div class="form-content">
			<div class="form-group">
				<label>Ширина</label>
				<input type='text' [(ngModel)]="workspace.width" />
			</div>
			<div class="form-group">
				<label>Высота</label>
				<input type='text' [(ngModel)]="workspace.height" />
			</div>
			<button>Применить</button>
		</div>
	</div>
	<div class="form-item" *ngIf="false">
		<h1 class="form-header">Рабочая область</h1>
		<div class="form-content">
			<div class="form-group">
				<label>Высота</label>
				<input type='text' />
			</div>
			<div class="form-group">
				<label>Ширина</label>
				<input type='text' />
			</div>
			<button>Применить</button>
		</div>
	</div>
	<div class="form-texture">
		<as-editor-radio-texture></as-editor-radio-texture>
	</div>
</section>
