<div class="manager-panel-block manager-material-color-rgba">
	<div class="manager-panel-block-content">
		<form [formGroup]="form" class="form-1">

			<div class="form-row">
				<div class="form-group" [class.focused]="getFormField('red')">
					<input type='text' class="form-control"	required
						name="colorRed" id="colorRed" formControlName="red" />
					<label for="workspaceWidth">Red</label>
				</div>
				<div class="form-group" [class.focused]="getFormField('green')">
					<input type='text' class="form-control"	required
						name="colorGreen" id="colorGreen" formControlName="green" />
					<label for="workspaceWidth">Green</label>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group" [class.focused]="getFormField('blue')">
					<input type='text' class="form-control"	required
						name="colorBule" id="colorBule" formControlName="blue" />
					<label for="workspaceWidth">Bule</label>
				</div>
				<div class="form-group" [class.focused]="getFormField('alfa')">
					<input type='text' class="form-control"	required
						name="colorAlfa" id="colorAlfa" formControlName="alfa" />
					<label for="workspaceWidth">Alfa</label>
				</div>
			</div>

		</form>
	</div>
</div>
