<section class="workstate">
	<div class="form-item">
		<div class="form-header">
			<h4>Workspace</h4>
		</div>
		<div class="form-content">
			<form #f="ngForm">
				<div class="form-group">
					<label for="workspaceWidth">Width</label>
					<input type='number' class="form-control"	required
						name="workspaceWidth" id="workspaceWidth" [(ngModel)]="workspace.width"
						pattern="[0-9]+(\.[0-9]*)?" />
				</div>
				<div class="form-group">
					<label for="workspaceHeight">Height</label>
					<input type="number" class="form-control" required
						name="workspaceHeight" id="workspaceHeight" [(ngModel)]="workspace.height"
						pattern="[0-9]+(\.[0-9]*)?" />
				</div>
				<button type="button" (click)="onInitWorkspace()" [disabled]="!f.valid">Accept</button>
			</form>
		</div>
	</div>
</section>
