@import "../../../shared/scss/global.scss";

/* Variable */
$placeholder-height: 27px;
$padding-rl-input: 7px;

.workstate {
	overflow-y: auto;

	width: 100%;
	height: 100%;

	.workstate-item {
		width: 1000%;
	}
	.fullHeight {
		height: 100%;
	}
}
