/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Editor Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Variable */
.workstate {
  height: 100%;
  width: 100%; }
  .workstate .workstate-item {
    width: 1000%; }
  .workstate .fullHeight {
    height: 100%; }
