/* Palette Color */
/* Font-size variable */
/* Z-index */
/* Editor Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Control Panel */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
/* Modal */
/* Overlay */
/* Form block */
/* No important context */
/* Main context */
/* Important context */
.workstate {
  width: 100%;
  height: 100%; }
  .workstate .form-header {
    padding: 10px 20px;
    background-color: rgba(128, 128, 128, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #5C5C5C; }
  .workstate .list-categories {
    box-sizing: border-box;
    width: 100%; }
    .workstate .list-categories .item {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: start;
          justify-content: flex-start;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-line-pack: center;
          align-content: center;
      box-sizing: border-box;
      width: 100%;
      padding: 10px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      color: #5C5C5C; }
      .workstate .list-categories .item i {
        margin-right: 5px; }
      .workstate .list-categories .item:hover {
        background-color: #7bb3ef;
        color: #fff; }
      .workstate .list-categories .item.form-back {
        font-weight: bold; }
        .workstate .list-categories .item.form-back.lock {
          background-color: rgba(128, 128, 128, 0.1);
          color: #5C5C5C;
          transition: background-color 0.4s, color 0.4s; }
  .workstate .list-item {
    display: -ms-flexbox;
    display: flex;
    overflow-y: scroll;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1px; }
    .workstate .list-item .item {
      display: block;
      box-sizing: border-box;
      width: 126px;
      height: 126px;
      position: relative;
      border: 1px solid white; }
      .workstate .list-item .item img {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border: 1px solid #e8e8e8; }
      .workstate .list-item .item .overlay {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-line-pack: center;
            align-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s; }
        .workstate .list-item .item .overlay .description {
          margin-top: 60px;
          opacity: 0;
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          transition: opacity 0.3s, margin-top 0.3s; }
        .workstate .list-item .item .overlay:hover {
          background-color: rgba(0, 0, 0, 0.6); }
        .workstate .list-item .item .overlay:hover .description {
          margin-top: 0;
          opacity: 1; }
