<div class="manager-panel-block manager-workstate-surface">
	<div class="manager-panel-block-header">
		<h4>Thing</h4>
	</div>
	<div class="manager-panel-block-content">
		<form [formGroup]="form" class="form-1">
			<div class="form-group" [class.focused]="getFormField('coordX')">
				<input type='text' class="form-control"	required
					name="coordX" id="coordX" formControlName="coordX" />
				<label for="coordX">Coordinate X</label>
			</div>
			<div class="form-group" [class.focused]="getFormField('coordY')">
				<input type="text" class="form-control" required
					name="coordY" id="coordY" formControlName="coordY" />
				<label for="coordY">Coordinate Y</label>
			</div>
			<div class="form-group" [class.focused]="getFormField('angle')">
				<input type="text" class="form-control" required
					name="angle" id="angle" formControlName="angle" />
				<label for="angle">Angle</label>
			</div>
		</form>
	</div>
</div>
