@import "../../../shared/scss/global.scss";

.workstate {
	width: 100%;
	height: 100%;

	.form-header {
		padding: 10px 20px;

		background-color: rgba(128, 128, 128, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		color: $color-text-3;
	}

	.form-content {
		box-sizing: border-box;
		width: 100%;

		.form-item {
			&.form-back {
				font-weight: bold;

				&.lock label {
					background-color: rgba(128, 128, 128, 0.1);
					color: $color-text-3;
				}
			}
			input[type='radio'] {
				display: none;

				&:checked ~ label {
					background-color: rgba(128, 128, 128, 0.1);
					color: $color-text-3;
				}
			}
			label {
				box-sizing: border-box;
				width: 100%;
				display: block;
				padding: 10px 20px;
				cursor: pointer;

				border-bottom: 1px solid rgba(0, 0, 0, 0.1);

				color: $color-text-3;

				&:hover {
					background-color: $color-button-2;
					color: #fff;
				}
			}
		}
	}
}
