<section class="workstate">
	<div class="form-header">
		<h4>Workshop</h4>
	</div>
	<div class="form-content">
		<div class="form-item">
			<input type="radio" name="category" id="null" value="null" />
			<label for="null">< back</label>			
		</div>
		<div class="form-item" *ngFor="let category of itemCategoriesDisplay">
			<input type="radio" name="category"
				[attr.id]="category._id"	[value]="category._id" />
			<label [attr.for]="category._id">{{category.name}}</label>
		</div>
	</div>
</section>
