@import "../../../shared/scss/global.scss";

.workstate {
	width: 100%;
	height: 100%;

	.form-header {
		padding: 10px 20px;

		background-color: rgba(128, 128, 128, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		color: $color-text-3;
	}

	.form-content {
		box-sizing: border-box;
		width: 100%;

		.form-item {
			box-sizing: border-box;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			align-content: center;
			padding: 10px 20px;

			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			color: $color-text-3;

			cursor: pointer;

			i {
				margin-right: 5px;
			}
			&:hover {
				background-color: $color-button-2;
				color: #fff;
			}
			&.form-back {
				font-weight: bold;
				&.lock {
					transition: background-color 0.4s, color 0.4s;
					background-color: rgba(128, 128, 128, 0.1);
					color: $color-text-3;
				}
			}
		}
	}
	/* ----- form-content */
	.form-list-item {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;

		padding: 1px;

		overflow-y: scroll;

		.form-item {
			box-sizing: border-box;
			width: 126px;
			height: 126px;
			position: relative;
			display: block;

			background-color: lightblue;
			border: 1px solid white;

			img {
				width: 100%;
				height: 100%;
			}
			.overlay {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				align-content: center;
				justify-content: center;

				background-color: rgba(0,0,0,0.0);

				cursor: pointer;

				transition: background-color 0.3s;

				.description {
					margin-top: 60px;
					opacity: 0;

					color: #fff;
					font-size: 18px;
					font-weight: bold;
					text-align: center;

					transition: opacity 0.3s, margin-top 0.3s;
				}

				&:hover {
					background-color: rgba(0,0,0,0.6);
				}
				&:hover .description {
					opacity: 1;
					margin-top: 0;
				}
			}
		}
	}
}
