<div class="manager-panel-block manager-material">
	<div class="manager-panel-block-header">
		<h4>Material</h4>
	</div>
	<div class="manager-panel-block-content">
		<div class="form-back" (click)="onClickBack()">
			<i class="fa fa-chevron-left" aria-hidden="true"></i>
			<span>Back to Workstate</span>
		</div>

		<form>
			<select name="materialCategory" class="list-categories"
				[(ngModel)]="activeMaterialCategory" (change)="onChangeMaterialCategory($event)">
	      <option value="" disabled>Choose a type material</option>
				<option value="color">Color</option>
				<option value="texture">Texture</option>
	    </select>
		</form>
		<div class="item-panel" *ngIf="activeMaterialCategory === 'color'">

		</div>
		<div class="item-panel" *ngIf="activeMaterialCategory === 'texture'">
			<as-editor-manager-material-texture></as-editor-manager-material-texture>
		</div>
	</div>
</div>
